@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.cdnfonts.com/css/kaufmann-bt');
*{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
:root{
    --orange: #FF6600;
    --cream: #D0AE6E;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.2);
}
.tittle{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    color: var(--orange);
}
.tittle-desc{
    font-size: 30px;
    text-align: center;
    
}
section{
    margin: 150px 0;
}
.active-nav{
    color: var(--orange) !important;
}
.sticky{
    /* padding: 13px 40px; */
    background-color: #fff;
    box-shadow: var(--box-shadow);
}
/* Styling for login page */
.login{
    width: 500px;
    position: relative; 
    margin-top: 150px;
    left: 50%;
    transform: translateX(-50%);
}
.login .header-login h1{
    font-weight: bolder;
    font-size: 50px;
    color: var(--orange);
}
.login .header-login p{
    margin-top: -10px;
}
.login .body-login{
    padding: 25px;
    background-color: #f3f3f3;
    border-radius: 40px;
}
.login .body-login input{
    width: 95%;
    padding: 5px 0;
    border: none;
    background-color: #f3f3f3;
    border-bottom: 1px solid #888;
}
.login .body-login input:focus{
    outline-width: 0;
}
.login .body-login .row{
    margin-bottom: 20px;
}
.login .row-btn{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}
.login .row-btn a{
    text-decoration: none;
    color: #000;
}
.login .row-btn .btn-login{
    padding: 10px 50px;
    border: none;
    border-radius: 35px;
    background-color: var(--orange);
    color: #fff;
}

/* Styling for home page */
.list-navbar{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-navbar li{
    margin: 0 15px;
}
.nav-image{
    background-image: url("image/bg-nav.png");
    height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -5;
  background-size: cover;
}

.nav-image .desc p{
    color: #666;
    margin-top: -15px;
}
.nav-image .desc .btn-book{
    margin-top: 5px;
    display: inline-block;
    border-radius: 40px;
    background-color: var(--orange);
    color: #fff;
    padding: 10px 30px;
    transition: .5s;
    text-decoration: none;
}
.nav-image .desc .btn-contact{
    margin-top: 5px;
    display: inline-block;
    border-radius: 40px;
    border: 1px solid var(--orange);
    color: var(--orange);
    padding: 10px 30px;
    transition: .5s;
    text-decoration: none;
}
.nav-image .desc .btn-book:hover{
    background-color: #fff;
    color: #000;
} 
 .nav-image .desc{
    position: relative;
 
    top: 200px;
    left: 60px;
    display: inline-block;
}
.nav-image .desc h3{
    font-family: 'Kaufmann BT', sans-serif;
    font-size: 55px;
    font-weight: bold;
    color: var(--orange);                               
}
.nav-image .desc h1{
    font-size: 45px;
    font-weight: bold;                               
}
.welcome{
    margin: 100px 0;
    display: flex;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.welcome img{
    width: 45%;
}
.welcome .desc{
    width: 45%;
}
.welcome .desc h2{
    color: var(--orange);
    font-size: 45px;
    
}
.welcome .desc h3{
    font-weight: bolder;
}
.welcome .desc p{
    color: #666;
}

/* paket */
.header-content{
    padding: 0 100px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.header-content .title {
    width: 60%;
}
.header-content .title h1{
    font-size: 30px;
    font-weight: bold;
}
.header-content .btn a{
    padding: 15px;
    background-color: var(--cream);
    color: #fff;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    text-decoration: none;
}
.paket .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.paket .container .box{
    width: 350px;
}
.paket .container .box .image{
   position: relative;
   width: 80%;
   left: 50%;
   
transform: translateX(-50%);
}
.paket .container .box .image img{
    border-radius: 20px;
    
}
.paket .container .box .body{
    padding-top: 200px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: -180px;
    border-radius: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    transition: .3s;
}
.paket .container .box .body:hover{
    box-shadow: var(--box-shadow);
}
.paket .container .box .body .btn{
    background-color: var(--cream);
    color: #fff;
}
.paket .container .box .body h5{
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bolder;
}
.paket .container .box .body .ket{
    justify-content: space-between;
    display: flex;
    font-size: 15px;
    margin-bottom: 20px;
    color: #777;
     align-items: center;
}
.paket .container .box .body .ket .ttl p{
    margin: 0;
}
.paket .container .box .body .ket .ttl{
    display: flex;
    align-items: center;
    justify-content: center;
}
.paket .container .box .body .ket .ttl i{
    margin-right: 10px;
}

/* Pengalaman */

.pengalaman .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}
.pengalaman .container .box{
    padding: 30px;
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    background-color: #f4f4f4;
}
.pengalaman .container .box p{
    color: #444;
}
.pengalaman .container .box .person{
    display: flex;
    align-items: center;
    gap: 20px;
}
.pengalaman .container .box .person img{
    border-radius: 50%;
    box-shadow: var(--box-shadow);
}
.pengalaman .container .box .person .desc h5{
    font-size: 17px;
}
.pengalaman .container .box .person .desc i{
    color: #FCCC29;
}
.artikel .container{
    display: flex;
    margin-top: 70px;
    justify-content: center;
    gap: 70px;
}
.artikel .container .box{
    width: 350px;
    padding: 20px;
    border-radius: 10px;
}
.artikel .container .box img{
    width: 100%;
    position: relative;
    margin-top: -70px;
    margin-bottom: -20px;
}
.artikel .container .box .date{
    position: relative;
    display: inline-block;
    margin-bottom: -200px;
    padding: 10px;
    color: #fff;
    background-color: var(--orange);
    border: 20px;
    right: 0;
    top: -50px;
    border-radius: 10px;
}
.artikel .container .box .btn{
    background-color: var(--cream);
    color: #fff;
}
.artikel .container .box h2{
    font-size: 25px;
}
footer{
    background-color: #000;
    color: #fff;
}
footer .footer{
    padding: 100px 150px 60px 150px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .footer .box{
    width: 300px;
}
footer .footer .box .sosial a{
    color: #000;
    /* padding: 15px; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 50px;
    font-size: 20px;
    width: 50px;
    margin-right: 10px;
    background-color: #ddd;
}

footer .footer .box a{
    color: #fff;
    text-decoration: none;
    transition: .3s;
}
footer .footer .box a:hover{
    transform: translateX(10px);
}

footer .copyright{
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid #ddd;
}



@media screen and (max-width: 1100px) {
    .img-login {
      display: none;
    }
}
@media screen and (max-width: 456px) {
    .login{
        width: 350px;
    }
}

    .swiper {
      width: 80%;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
      display: inline-block;
      width: 100px;
      height: 100px;
    }
    .swiper-wraper{
        position: relative;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
    }

    /* Animasi Scroll */
.transparan{
    opacity: 0;
    transition: 1s ease-in;
}
.transparan.appear{
    opacity: 1;
}
.smoth-in{
    opacity: 0;
    transition: 1.3s ease-in;
    transform: translateY(10px);
}
.smoth-in.appear{
    opacity: 1;
    transform: translateY(0);
}
.fade-in{
    opacity: 0;
    transition: 1s ease-in;
    transform: translateY(30px);
}
.fade-in.appear{
    opacity: 1;
    transform: translateY(0);
}
.fade-out{
    opacity: 0;
    transition: 1s ease-in;
    transform: translateY(-30px);
}
.fade-out.appear{
    opacity: 1;
    transform: translateY(0);
}
.from-left{
    transform: translateX(-40px);
    opacity: 0;
    transition: 1s ease-in;
}
.from-right{
    transform: translateX(40px);
    opacity: 0;
    transition: 1s ease-in;
}
.from-left.appear,
.from-right.appear{
    transform: translateX(0);
    opacity: 1;
}
